* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #B2B5E0, #C5ADC5);
    height: 100vh;
    display: flex;
    align-items: center;
  justify-content: center; background-image:url("/favicon\ final.png");
  background-repeat: no-repeat;
  background-position: 50vh;
}

#particles-js {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #B2B5E0, #C5ADC5);
  z-index: -1; /* Ensure particles are behind other content */
}
h2 {
    text-align: center;
    margin-bottom: 30px;
  }

.form-container {
  background: linear-gradient(to right, #B2B5E0, #C5ADC5);

    width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #79c7dd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #553089;
  }

  p {
    margin-top: 15px;
  }